@import url(https://www.google.com/search?q=pogi+meme&tbm=isch&ved=2ahUKEwj2tPHaz-r_AhVnlWMGHaA8ApQQ2-cCegQIABAA&oq=pogi+meme&gs_lcp=CgNpbWcQAzIHCAAQigUQQzIGCAAQBRAeMgYIABAFEB4yBggAEAUQHjIGCAAQBRAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjoECCMQJzoKCAAQigUQsQMQQzoICAAQgAQQsQM6DQgAEIoFELEDEIMBEEM6BwgjEOoCECc6BQgAEIAEOgQIABADUOsDWJQnYO0paAFwAHgAgAFWiAHPBpIBAjExmAEAoAEBqgELZ3dzLXdpei1pbWewAQHAAQE&sclient=img&ei=j5ieZLaxAeeqjuMPoPmIoAk&bih=969&biw=1920#imgrc=NFn5q_hMhwWzuM);
body{
    background-color: aqua;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
}

h1{
    color: #2f9BCA;
    margin-left: 20px;
}

p{
    color: #444444
}